################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSALgo/bin/Debug/netcoreapp3.1
/DSALgo/obj
